{% load static %}
<br>
<style>

.footer {
	position:;
	bottom: 0px;
	height: 60px;
	width: 100%;
}

</style>

<div class="footer nav-back navbar-fixed-bottom">
 
    <div class="container" align="center"><div align=center>
  		<br>
		<p><b class="copyright">&copy; 2020 | &nbsp;&nbsp;Lynn-Group&nbsp;&nbsp | </a>All Rights Reserved &nbsp;&nbsp;| &nbsp;&nbsp;Total Page Views:
			<!-- Start of WebFreeCounter Code -->
			<a href="http://abc-finder.osdd.jnu.ac.in/ " target="_blank"><img src="https://www.webfreecounter.com/hit.php?id=grkcndc&nd=3&style=13" border="0" alt="hit counter"></a>
			<!-- End of WebFreeCounter Code -->
			<!-- &nbsp;&nbsp;|&nbsp;&nbsp; -->
			 <span style="vertical-align:-5px">
				<!-- <script type="text/javascript" 
src="//rf.revolvermaps.com/0/0/3.js?i=5u77rdzho2h&amp;b=0&amp;s=20&amp;m=2&amp;cl=ffffff&amp;co=010020&amp;cd=aa0000&amp;v0=60&amp;v1=60&amp;r=1" async="async"></script> -->
			</span></p>
  

    </div>

</div>


