{% load static %}
<br>
<style>

.footer {
	position:;
	bottom: 0px;
	height: 60px;
	width: 100%;
}

</style>

<div class="footer nav-back navbar-fixed-bottom">
 
    <div class="container" align="center"><div align=center>
  		<br>
        <p><b class="copyright">&copy; 2018 <a href="http://c"> Group</a></b> All Rights Reserved &nbsp;&nbsp;| &nbsp;&nbsp;Total Page Views: <a href='https://www.counter12.com'><img src='https://www.counter12.com/img-9W8ZB3DZW4cAZZA1-6.gif' border='0' alt='free web counter'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=9W8ZB3DZW4cAZZA1'></script> &nbsp;&nbsp;|&nbsp;&nbsp;
            <span style="vertical-align:-5px"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/3.js?i=5arjlf8gvi7&amp;b=8&amp;s=0&amp;m=0&amp;cl=ffffff&amp;co=010020&amp;cd=aa0000&amp;v0=60&amp;v1=60&amp;r=1" async="async"></script></span></p>
  

    </div>

</div>



