{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AbcFinder Help</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="{% static 'css/help.css'%}" rel="stylesheet">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
        <link

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    

    {% block style %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style type="text/css">
            .custom-height{
                /*height: 0px;*/
                box-shadow:0px 1px 5px 1px grey;
            }
        </style>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<script>
    var basePath = "127.0.0.1:8000";
    var path = "/app/help";
</script>
<body>
    
    
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<script language = "javascript" type="text/javascript">
    var path = "/app/help";
    var basePath = "127.0.0.1:8000";
    var USERID = "null";
    var LAN = "en";
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  


{% block navbar %}
        {% include 'header.html' %}
    {% endblock %}
<!-- Nav -->
<div class=""></div>

<!-- Nav -->
     

    
        <div class="main">
        <div class="list-group sidebar affix">
            <a onclick="showDocument('#')" class="list-group-item group_title">Contents</a>
            <a onclick="showDocument('#abcfinder_headline')" class="list-group-item">AbcFinder</a>
            <!-- <a onclick="showDocument('#software_requirement_headline')"  class="list-group-item">Software Requirements</a> -->
            <a onclick="showDocument('#tutorial_headline')"  class="list-group-item">Tutorials</a>
            <a onclick="redirectExample('1')"  class="list-group-item">Example 1</a>
            <a onclick="redirectExample('2')"  class="list-group-item">Example 2</a>
            <a onclick="showDocument('#input_headline')"  class="list-group-item">Input</a>
            <a onclick="showDocument('#job_queue_headline')"  class="list-group-item">Job Queue</a>
            <a onclick="showDocument('#result_headline')"  class="list-group-item">Result</a>
        </div>
        <div class="container main_section">
            <div class="help_section">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="help_option_li">
                        <a class="help_tab_link " onclick = "showDocument()" href="#help_document" aria-controls="help_document" role="tab" data-toggle="tab" style="padding: 5px 15px;">Help Document</a>
                    </li>
                    <li role="presentation" class="help_option_li active">
                        <a class="help_tab_link" onclick = "showTutorial()" href="#tutorials" aria-controls="tutorials" role="tab" data-toggle="tab" style="padding: 5px 15px;">Tutorials</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="help_document">
                        <h3 id="abcfinder_headline">ABCFinder</h3>
                        <div class="panel panel-default"  id="abcfinder">
                            <!-- <div class="panel-body" id="abcfinder_content"> -->
                                
                            </div>
                        </div>
                        <!-- <h3 id="software_requirement_headline">Software requirement</h3> -->
                        <!-- <div class="panel panel-default" id="software_requirement">
                            <div class="panel-body" id="software_requirement_content"></div> -->
                        </div>
                        <h3 id="tutorial_headline">Tutorials</h3>
                        <div class="panel panel-default" id="tutorial">
<!--                           <div class="top_title">Example<a class="btn btn-default" onclick="redirectExample()" type="button" aria-controls="tutorials" role="tab" data-toggle="tab" style="margin-left: 10px;">Go!</a></div> -->
<!--                           <div class="top_title">User Submission<a class="btn btn-default" onclick="redirectUserSubmission()" href="#tutorials"  aria-controls="tutorials" role="tab" data-toggle="tab"  style="margin-left: 10px;">Go!</a></div> -->
                        </div>
                        <h3 id="input_headline">Input</h3>
                        <div class="panel panel-default" id="input">
                            <div class="panel-body" id="input_content"></div>
                        </div>
                        <h3 id="job_queue_headline">Job Queue</h3>
                        <div class="panel panel-default" id="job_queue">
                            <div class="panel-body" id="job_queue_content"></div>
                        </div>
                        <h3 id="result_headline">Result</h3>
                        <div class="panel panel-default" id="result">
                            <div class="panel-body" id="result_content"></div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="tutorials">
                        <div class="top_title" id="tutorial_content_example_title">#Example1</div>
                        <div class="panel panel-default">
                            <div class="panel-body" id="tutorial_content_example"></div>
                        </div>
                        <div class="top_title" id="tutorial_content_example2_title">#Example2</div>
                        <div class="panel panel-default">
                            <div class="panel-body" id="tutorial_content_example2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    



<div class="clear"></div>


{% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    
    <script src="{% static 'js/help.js' %}"></script>
    
</body>