<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kinact | Related resources</title>
    <link rel="icon" type="image/png" href="static/img/kinact-favicon-black.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web-version of Kinact">
    <meta name="author" content="Carlos Rodrigues">

    <!-- Styles -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic">
    <link href="static/css/site.css" rel="stylesheet">
    
<style>
    .table>tbody>tr>td {
        border-top: none;
    }

    th{
        font-weight: normal;
    }
</style>


    
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-101323998-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
    <div class="container">
        
    </div><!-- /.container -->
    <div class="container">
<h2><span style="font-family:remachine;font-size:45px;">Kinact</span> - Related resources</h2>
<hr />    
<div class="row">
	<div class="col-md-12">
        <h3>Related Work</h3>
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th>
                    Resource
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><a href="http://nar.oxfordjournals.org/content/early/2016/05/05/nar.gkw390.abstract" target="_blank">CSM-lig <i class="fa fa-external-link"></i></a></td>
                <td>CSM-lig: a web server for assessing and comparing protein-small molecule affinities<br/>
                <b>Nucleic Acids Research</b> (2016) Accepted
                </td>
            </tr>
            <tr>
                <td><a href="http://nar.oxfordjournals.org/content/early/2016/05/23/nar.gkw458.full" target="_blank">mCSM-AB <i class="fa fa-external-link"></i></a></td>
                <td>mCSM-AB: a web server for predicting antibody-antigen affinity changes upon mutation with graph-based signatures<br/>
                <b>Nucleic Acids Research</b> (2016) Accepted
                </td>
            </tr>
            <tr>
                <td><a href="http://nar.oxfordjournals.org/content/early/2014/05/14/nar.gku411.abstract" target="_blank">DUET <i class="fa fa-external-link"></i></a>
                <td>DUET: a server for predicting effects of mutations on protein stability using an integrated computational approach<br/>
                <b>Nucleic Acids Research</b> (2014) 42 (W1): W314-W319
                </td>
            </tr>

            <tr>
                <td><a href="http://pubs.acs.org/doi/abs/10.1021/acs.jmedchem.5b00104" target="_blank">pkCSM <i class="fa fa-external-link"></i></a></td>
                <td>pkCSM: Predicting Small-Molecule Pharmacokinetic and Toxicity Properties Using Graph-Based Signatures<br/>
                 <b>Journal of Medicinal Chemistry</b> (2015) 58(9): 4066–4072
                </td>
            </tr>

            <tr>
                <td><a href="http://bioinformatics.oxfordjournals.org/content/30/3/335" target="_blank">mCSM <i class="fa fa-external-link"></i></a></td>
                <td>mCSM: predicting the effect of mutations in proteins using graph-based signatures<br/>
                 <b>Bioinformatics</b> (2014) 30(3): 335-342
                </td>
            </tr>

             <tr>
                <td><a href="http://bioinformatics.oxfordjournals.org/content/29/7/855.abstract" target="_blank">aCSM <i class="fa fa-external-link"></i></a></td>
                <td>aCSM: Noise-free graph signatures for large-scale receptor-based ligand prediction<br/>
                <b>Bioinformatics</b> (2013) 29(7): 855-861
                </td>
            </tr>
            <tr>
                <td><a href="http://www.biomedcentral.com/1471-2164/12/S4/S12/abstract" target="_blank">CSM <i class="fa fa-external-link"></i></a></td>
                <td>Cutoff Scanning Matrix (CSM): function prediction and fold recognition by protein inter-residue distance patterns<br/>
                <b>BMC Genomics</b> (2011) 12 (Suppl 4): S12
                </td>
            </tr>
            <tr>
                <td><a href="http://onlinelibrary.wiley.com/doi/10.1002/prot.22187/abstract" target="_blank">Cutoff Scanning <i class="fa fa-external-link"></i></a></td>
                <td>Protein cutoff scanning: A comparative analysis of cutoff dependent and cutoff free methods for prospecting contacts in proteins<br/>
                <b>Proteins: Structure, Function, and Bioinformatics</b> (2009) 74(3): 727-743
                </td>
            </tr>
            </tbody>
        </table>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Web Components</h3>
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th class="col-md-2">Component</th>
                <th class="col-md-2" style="text-align:right;">Version</th>
                <th class="col-md-8">Description</th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td><a href="http://getbootstrap.com/" target="_blank">Bootstrap <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">3.3.7</td>
                    <td>Bootstrap is a free and open-source front-end web framework for designing websites and web applications.</td>
                </tr>
                <tr>
                    <td><a href="http://fontawesome.io/" target="_blank">Font Awesome <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">4.6.3</td>
                    <td>Font Awesome is a font and icon toolkit based on CSS and LESS. It was made by Dave Gandy for use with Twitter Bootstrap, and later was incorporated into the BootstrapCDN.</td>
                </tr>
                <tr>
                    <td><a href="http://www.datatables.net/" target="_blank">DataTables <i class="fa fa-external-link"></i></a>
                    <td style="text-align:right;">1.9.4</td>
                    <td>DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table.</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/selectize/selectize.js" target="_blank">Selectize <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">0.12.4</td>
                    <td>Selectize is the hybrid of a textbox and &lt;select&gt; box. It's jQuery-based and it's useful for tagging, contact lists, country selectors, and so on.</td>
                </tr>
                <tr>
                    <td><a href="http://pedroduarte.me/wallop" target="_blank">Wallop <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">2.4.1</td>
                    <td>In a nutshell, wallop takes a collection of HTML elements and Previous & Next buttons, and adds helper HTML classes in the correct elements based on whether you want to navigate forwards or backwards.</td>
                </tr>
                <tr>
                    <td><a href="https://limonte.github.io/sweetalert2/" target="_blank">SweetAlert <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">4.1.9</td>
                    <td>A beautiful, responsive, customizable and accessible (WAI-ARIA) replacement for JavaScript's popup boxes. Zero dependencies.</td>
                </tr>
                <tr>
                    <td><a href="http://3dmol.csb.pitt.edu/" target="_blank">3Dmol.js <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">1.0.1</td>
                    <td>3Dmol.js is an object-oriented, webGL based JavaScript library for online molecular visualization.</td>
                </tr>
                <tr>
                    <td><a href="http://msa.biojs.net/" target="_blank">MSAViewer <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">1.0</td>
                    <td>MSAs help researchers to discover novel differences (or matching patterns) that appear in many sequences. The MSAViewer is a modular, reusable component to visualize large MSAs interactively on the web.</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/feimosi/baguetteBox.js" target="_blank">BaguetteBox <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">1.8.0</td>
                    <td>Simple and easy to use lightbox script written in pure JavaScript</td>
                </tr>
                <tr>
                    <td><a href="http://flask.pocoo.org/" target="_blank">Flask <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">0.11.1</td>
                    <td>Flask is a micro web framework written in Python and based on the Werkzeug toolkit and Jinja2 template engine.</td>
                </tr>
                <tr>
                    <td><a href="https://redis.io/" target="_blank">Redis <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">2.10.5</td>
                    <td>Redis is an open-source in-memory database project implementing a distributed, in-memory key-value store with optional durability.</td>
                </tr>
                <tr>
                    <td><a href="https://www.postgresql.org/" target="_blank">PostgreSQL <i class="fa fa-external-link"></i></a></td>
                    <td style="text-align:right;">9.3</td>
                    <td>PostgreSQL, often simply Postgres, is an object-relational database management system with an emphasis on extensibility and standards compliance</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


    </div> <!-- /container -->
        

        
    <footer>
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
            
            
        </div>
    </footer>
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

    
    

    </body>

</html>
