{% extends 'base.html' %}
{% load static %}
{% block container %}
  <br></br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-md-12 col-sm-9 col-xs-8 col-lg-12" align="center">
    
            <img src="{% static 'images/abc.png'%}" style="width:50%">

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
            <br>
  
    <div class="container-fluid" style="margin-bottom:30px;">
        <div class="row">
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-md-6 col-l        <p align="justify"> 
                    
                    <a href="https://scholar.google.co.in/citations?user=J1DJwtwAAAAJ&hl=en">Poonam Vishwakarma</a>, <a href="https://scholar.google.com/citations?user=RsRAwsYAAAAJ&hl=en">Naveen Kumar 
Meena</a>, <a href="https://scholar.google.co.in/citations?user=n4XrPiAAAAAJ&hl=en">Rajendra Prasad</a>, <a href="https://scholar.google.co.in/citations?user=Ww32AMwAAAAJ&hl=en">Atanu Banerjee</a>, 
<a href="https://scholar.google.co.in/citations?user=8tgnKvAAAAAJ&hl=en">Andrew M. Lynn</a>
                </p>
                <h4 align="justify">
                    Currently, there is a huge interest among researchers to functionally characterize ABC proteins, which is based on the premise that they are accurately identified in the genome and their topology is correctly predicted. To address this, we have developed ABC-finder, a Docker-based package for prediction, systematic analysis and visualization of the topology of ABC proteins through a web-server. ABC-finder integrates tools from HMMER and TOPCONS with certain in-house python scripts for Django app present inside a Docker container.
                </h4>
                <h4>
                ABC-finder takes a variety of input types ranging from raw FASTA files to direct genome search, processes them through a standard pipeline and visualizes the output on a web browser in an interactive manner. Overall, ABC-finder, is an extremely convenient, portable and platform independent tool for the identification and subsequent domain prediction of ABC proteins. 
                </h4>
            </div>    
            <div class="col-md-4 col-lg-4">
                <img src="{% static 'images/abc-finder_feb.svg' %}" 
class="img-responsive " id="index_img" style="width:100%;height:100%;"/>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>

{% endblock %}
